.app{
  width: 100%;
  height: 100vh;
  /* background: #023c73;
  background: linear-gradient(147deg,rgba(2, 60, 115, 1) 0%, rgba(0, 0, 0, 1) 100%); */
  background-image: url('BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.InputSection{
  width: 100%;
  height: 100vh;
}
.ResultsSection{
  width: 100%;
  height: 100vh;
  border: 2px solid white;
}
.Result_pop-up{
  height: 0%;
  overflow: hidden;
  display: none;
}
.Result_pop-up.showed{
  height: 50%;
  display: block;
  transition: 1s all ease;
  animation: FadeDown 2.5s ease;
}
@keyframes FadeDown{
  from{
    height: 0%;
  }to{
    height: 50%;
  }
}
/* Responsive */
@media screen and (max-width : 500px){
  div.app{
    background-position: 20%;
  }
}